<div class="container">
  <hr>
  <h2>Guest page (you have to upload the table schema each time you submit a query)</h2>

  Example1: Show me the age of all employees from company Facebook
  <br>
  Example2: Show me the last name of all employees from company Facebook being 22 years old

  <br><br>
  <hr>

  <label for="natural_language_query">Natural language query: </label>
  <input type="text" id="natural_language_query" name="natural_language_query" [(ngModel)]="naturalLanguageQuery" style="width: 700px">

  <br><br>

  <label for="select_pretrained">Pretrained model to use: </label>
  <select id="select_pretrained" name="select_pretrained" [(ngModel)]="selectedPretrainedModel" style="width: 700px">
  <option *ngFor="let option of this.getModelsMetadataList()" [value]="option.name" [selected]="option === getModelsMetadataList()[0]">{{option.name}}</option>
  </select>

  <br><br>

  <label for="text_to_sql_result">Result: </label>
  <input type="text" id="text_to_sql_result" name="text_to_sql_result" style="width: 700px" readonly>

  <br><br>
  <hr>
  <br>

  <div class="button-container">
<!--    <input type="file" (change)="onFileSelected($event)" />-->
    <label for="file-upload" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> Custom Upload
    </label>
    <input id="file-upload" type="file" (change)="onFileSelected($event)"/>

    <button type="button" (click)="onSubmitQueryButton()" >Submit</button>
  </div>
</div>
