<h2>Guest page (you have to upload the table schema each time you submit a query)</h2>

Example1: Show me the age of all employees from company Facebook
<br>
Example2: Show me the last name of all employees from company Facebook being 22 years old

<br><br>

<label for="natural_language_query">Natural language query: </label>
<input type="text" id="natural_language_query" name="natural_language_query" [(ngModel)]="naturalLanguageQuery" style="width: 700px">

<br><br>

<label for="select_pretrained">Pretrained model to use: </label>
<select id="select_pretrained" name="select_pretrained" [(ngModel)]="selectedPretrainedModel" style="width: 700px">
<option *ngFor="let option of this.getModelsMetadataList()" [value]="option.name" [selected]="option === getModelsMetadataList()[0]">{{option.name}}</option>
</select>

<br><br>

<!--Upload only the file-->
<input type="file" (change)="onFileSelected($event)" />

<br><br>

<button type="button" (click)="onSubmitQueryButton()" >Submit</button>
